---
import Contact from "@components/Contact.astro";
import Faqs from "@components/Faqs.astro";
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Card from "@components/HeroCard.astro";
import HeroBackground from "@components/HeroBackground.astro";
---

<Layout>
  <main>
    <Hero />
    <Card />
    <HeroBackground />
    <div class="observe">
      <Faqs />
      <Contact />
    </div>
  </main>
</Layout>
