---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="observe">
    <div class="bg-white py-32">
      <div class="max-w-[1190px] mx-auto px-4">
        <h1 class="text-3xl font-bold mb-4 text-dark">Política de cookies</h1>
        <p class="text-dark">
          Esta página describe cómo utilizamos las cookies en nuestro sitio web.
        </p>
      </div>
    </div>
  </div>
</Layout>
