---
import Card from "../components/Card.astro";
import Contact from "../components/Contact.astro";
import Faqs from "../components/Faqs.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import HeroBackground from "../components/atoms/HeroBackground.astro";
---

<Layout>
  <Hero />
  <Card />
  <HeroBackground />
  <div class="observe">
    <Faqs />
    <Contact />
  </div>
</Layout>
