---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="observe">
    <div class="bg-white py-32">
      <div class="max-w-[1190px] mx-auto px-8">
        <h1 class="text-3xl font-bold mb-4 text-dark">
          Política de privacidad
        </h1>
        <p class="text-dark">
          Esta página describe cómo manejamos la información personal de
          nuestros usuarios.
        </p>
      </div>
    </div>
  </div>
</Layout>
