---
import cardImg from "../assets/card-front.png";
import cardBackImg from "../assets/card-back.png";
import shadowImg from "../assets/shadow.png";
---

<div class="card-wrapper">
  <div class="max-w-[1160px] mx-auto w-full px-16 relative">
    <img src={cardImg.src} alt="Card" class="credit-card z-10" />
    <img src={cardBackImg.src} alt="Card" class="credit-card-back z-10" />
    <img
      src={shadowImg.src}
      alt="Shadow"
      class="absolute top-0 left-0 md:left-auto md:-right-[120px] z-0 opacity-80 max-w-screen"
    />
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.set(".credit-card, .credit-card-back", {
    transformStyle: "preserve-3d",
    transformPerspective: 500,
    right: "50px",
    translateY: "-50%",
    rotationY: -10,
    rotationX: 4,
    rotationZ: 14,
  });

  const tl = gsap
    .timeline()
    .to(".credit-card", {
      rotationX: 180,
      rotationY: 0,
      rotationZ: 0,
    })
    .to(
      ".credit-card-back",
      {
        rotationX: 180,
        rotationY: 0,
        rotationZ: 0,
      },
      "<"
    )
    .to(".credit-card", {
      rotationX: 360,
    })
    .to(
      ".credit-card-back",
      {
        rotationX: 360,
      },
      "<"
    )
    .to(".credit-card", {
      rotationX: 180,
      rotationY: 0,
      rotationZ: 0,
    })
    .to(
      ".credit-card-back",
      {
        rotationX: 180,
        rotationY: 0,
        rotationZ: 0,
      },
      "<"
    )
    .to(".credit-card", {
      rotationY: -10,
      rotationX: 360,
      rotationZ: 14,
    })
    .to(
      ".credit-card-back",
      {
        rotationY: -10,
        rotationX: 360,
        rotationZ: 14,
      },
      "<"
    );
  /*
    .to(".credit-card", {
      rotationY: 10,
      rotationX: -4,
      rotationZ: -14,
      left: "50px",
    })
    .to(
      ".credit-card-back",
      {
        rotationY: 10,
        rotationX: -4,
        rotationZ: -14,
        left: "50px",
      },
      "<"
    )
    .to(".credit-card", {
      rotationX: 360,
      rotationY: 0,
      rotationZ: 0,
      left: "50%",
      translateX: "-50%",
      delay: 3,
    })
    .to(
      ".credit-card-back",
      {
        rotationX: 360,
        rotationY: 0,
        rotationZ: 0,
        left: "50%",
        translateX: "-50%",
      },
      "<"
    );
    */

  ScrollTrigger.create({
    animation: tl,
    trigger: "main",
    start: "top top",
    end: "bottom bottom",
    scrub: true,
    pin: true,
  });
</script>

<style>
  .card-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .card-wrapper {
      height: 50vh;
    }
  }

  .credit-card,
  .credit-card-back {
    width: 440px;
    aspect-ratio: 1.55/1;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform-origin: center;
    top: 50%;
  }

  @media (max-width: 768px) {
    .credit-card,
    .credit-card-back {
      width: 300px;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .credit-card {
    backface-visibility: hidden;
  }

  .credit-card-back {
    z-index: 1;
  }
</style>
