---
import image from "@assets/join.jpg";
import Input from "@atoms/Input.astro";
import Textarea from "@atoms/Textarea.astro";
import Button from "@atoms/Button.astro";
import { actions } from "astro:actions";
---

<section class="pb-12 md:py-24 bg-white text-dark z-20 relative" id="join">
  <div class="relative">
    <div class="md:absolute inset-y-0 right-0 w-full md:w-[40%] h-full">
      <img
        src={image.src}
        alt=""
        class="object-cover object-center w-full h-full md:rounded-bl-3xl md:rounded-tl-3xl mb-12 md:mb-0"
      />
    </div>
    <div class="max-w-[1160px] mx-auto px-4">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/2 px-4">
          <h2 class="mb-12 md:mb-24 text-xl">
            — <strong>Contacto</strong> Hazte socio
          </h2>
          <h3
            class="text-[40px] md:text-[56px] text-balance font-light leading-none mb-7"
          >
            Únete al Club
          </h3>
          <form
            action={actions.contact}
            method="POST"
            aria-labelledby="form-title"
            novalidate
          >
            <fieldset>
              <div class="flex flex-col gap-2.5">
                <Input name="company" label="Nombre completo*" required />
                <Input name="email" label="Email*" required />
                <Input name="subject" label="Asunto" />
                <Textarea name="message" label="Mensaje" />
              </div>

              <p class="text-sm mt-4 mb-6">* Campos obligatorios</p>

              <span class="success-message text-primary mt-4 hidden">
                Tu email se ha enviado correctamente.<br />En breve nos
                pondremos en contacto. Gracias.
              </span>

              <Button tag="button">Enviar</Button>
            </fieldset>

            <small class="text-gray-400 mt-14 block text-[12px]">
              Al enviar este formulario, aceptas nuestra <a
                href="/privacy"
                class="underline">Política de Privacidad</a
              > y nos autorizas a procesar tus datos para responder a tu consulta.
              Tus datos serán tratados de forma segura y no serán compartidos con
              terceros sin tu consentimiento.</small
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector("#join form") as HTMLFormElement | null;

    if (!form) return;

    form.addEventListener("submit", function (e) {
      e.preventDefault();

      const company = form.querySelector(
        '[name="company"]'
      ) as HTMLInputElement | null;
      const email = form.querySelector(
        '[name="email"]'
      ) as HTMLInputElement | null;
      let valid = true;

      if (!company || !email) return;

      form.querySelectorAll(".error-message").forEach((el) => el.remove());
      form.querySelectorAll("input, textarea").forEach((el) => {
        el.classList.remove("bg-red-100");
        el.classList.remove("focus:ring-red-500");
        el.classList.remove("placeholder-red-400");
      });

      if (!company.value.trim()) {
        showError(company, "Por favor, rellena tu nombre completo");
        valid = false;
      }

      if (!email.value.trim()) {
        showError(email, "Por favor, rellena tu email");
        valid = false;
      } else if (!/^\S+@\S+\.\S+$/.test(email.value)) {
        showError(email, "Por favor, introduce un email válido");
        valid = false;
      }

      if (!valid) return;

      showSuccess();

      const formData = new FormData(form);
      fetch(form.action, {
        method: form.method,
        body: formData,
        headers: {
          "X-Requested-With": "XMLHttpRequest",
        },
      });
    });

    function showError(input: HTMLInputElement, message: string) {
      const error = document.createElement("p");
      error.className = "error-message text-red-600 text-sm mt-1";
      error.innerText = message;
      if (input.parentNode) {
        input.parentNode.appendChild(error);
      }
      input.classList.add("bg-red-100");
      input.classList.add("focus:ring-red-500");
      input.classList.add("placeholder-red-400");
    }

    function showSuccess() {
      if (!form) return;
      const successMessage = form.querySelector(".success-message");
      if (successMessage) {
        successMessage.classList.remove("hidden");
        successMessage.classList.add("block");
      }
      form.reset();
    }
  });
</script>
