---
import image from "../assets/faqs.jpg";
import Accordion from "./atoms/Accordion.astro";
import AccordionItem from "./atoms/AccordionItem.astro";
---

<section class="pb-12 md:py-24 bg-[#F2F3F3] text-dark z-30 relative">
  <div class="max-w-[1190px] mx-auto px-4 hidden md:block">
    <div class="flex flex-wrap justify-end -mx-4">
      <div class="w-full md:w-1/2 px-4">
        <h2 class="mb-12 md:mb-24 text-xl">
          — <strong>FAQs</strong> Preguntas frequetes
        </h2>
      </div>
    </div>
  </div>
  <div class="relative">
    <div class="md:absolute inset-y-0 left-0 w-full md:w-[40%] h-full">
      <img
        src={image.src}
        alt=""
        class="object-cover object-center w-full h-full md:rounded-br-3xl md:rounded-tr-3xl mb-12 md:mb-0"
      />
    </div>
    <div class="max-w-[1190px] mx-auto px-4">
      <div class="flex flex-wrap justify-end -mx-4">
        <div class="w-full md:w-1/2 px-4">
          <h2 class="mb-12 md:mb-24 text-xl md:hidden">
            — <strong>FAQs</strong> Preguntas frequetes
          </h2>
          <h3
            class="text-[40px] md:text-[56px] text-balance font-light leading-none mb-16"
          >
            Todo lo que necesitas saber
          </h3>
          <Accordion>
            <AccordionItem
              id="faq1"
              title="¿Qué tipo de activos financieros puedo custodiar con Fundfy?"
            >
              <p class="pb-5">
                Fundfy permite la custodia tanto de activos tradicionales como
                digitales, incluyendo criptomonedas, brindando máxima seguridad
                y acceso verificado.
              </p>
            </AccordionItem>

            <AccordionItem
              id="faq2"
              title="¿Qué diferencia a Fundfy de otras plataformas de gestión de activos?"
            >
              <p class="pb-5">
                En Fundfy ofrecemos un enfoque integral que combina la seguridad
                de la custodia de activos, la innovación en gestión de
                criptomonedas, y un rendimiento demostrado con una rentabilidad
                acumulada de +450% desde 2018.
              </p>
            </AccordionItem>

            <AccordionItem
              id="faq3"
              title="¿Cómo funciona el servicio de staking en Fundfy?"
            >
              <p class="pb-5">
                Nuestro servicio de staking te permite generar rendimientos
                pasivos sobre tus criptomonedas depositadas, mientras nos
                encargamos de la seguridad y el proceso técnico.
              </p>
            </AccordionItem>

            <AccordionItem
              id="faq4"
              title="¿Cómo puedo unirme y empezar a invertir con Fundfy?"
            >
              <p class="pb-5">
                Para unirte a Fundfy, simplemente ponte en contacto con nosotros
                a través del formulario de nuestra web o envíanos un correo
                electrónico a hello@fundfy.io y nuestro equipo te guiará a
                través del proceso.
              </p>
            </AccordionItem>
          </Accordion>
        </div>
      </div>
    </div>
  </div>
</section>
