---
import image from "../assets/fundfy_logo.svg";
import Button from "./atoms/Button.astro";
import Link from "./atoms/Link.astro";
---

<footer class="pt-20 pb-5 bg-dark">
  <div
    class="max-w-[1160px] mx-auto w-full px-4 relative grid grid-cols-1 md:grid-cols-4 gap-4 text-center md:text-left"
  >
    <div>
      <img src={image.src} alt="Logo" class="w-40 mb-2.5 mx-auto md:mx-0" />
      <p class="font-semibold text-xl mb-11">Tu Club de Inversión</p>
      <Button tag="a">Únete al Club</Button>
    </div>
    <nav>
      <ul>
        <li>
          <Link className="animated-link" dataTime="0">Inicio</Link>
        </li>
        <li>
          <Link className="animated-link" dataTime="0">Nosotros</Link>
        </li>
        <li>
          <Link className="animated-link" dataTime="80">Inversión</Link>
        </li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li>
          <Link className="animated-link" dataTime="225">Experiencias</Link>
        </li>
        <li>
          <Link className="animated-link" dataTime="435">FAQS</Link>
        </li>
        <li>
          <Link className="animated-link" dataTime="480">Contacto</Link>
        </li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li>
          <Link href="/privacy">Política de Privacidad</Link>
        </li>
        <li>
          <Link href="/cookies">Política de Cookies</Link>
        </li>
        <li>
          <Link href="/conditions">Condiciones generales</Link>
        </li>
      </ul>
    </nav>
  </div>

  <p class="text-center mt-11 text-[14px] opacity-40 px-4">
    Fundfy Investment Club SL ©2005 Todos los derechos reservados
  </p>
</footer>
