---
import image from "../assets/fundfy_logo.svg";
import Button from "./atoms/Button.astro";
import a from "./atoms/Link.astro";
---

<footer class="pt-20 pb-5 bg-dark text-white mt-auto">
  <div
    class="max-w-[1160px] mx-auto w-full px-4 relative grid grid-cols-1 md:grid-cols-4 gap-4 text-center md:text-left"
  >
    <div>
      <img src={image.src} alt="Logo" class="w-40 mb-2.5 mx-auto md:mx-0" />
      <p class="font-semibold text-xl mb-11">Tu Club de Inversión</p>
      <Button tag="a">Únete al Club</Button>
    </div>
    <nav>
      <ul>
        <li>
          <a
            class="md:hover:text-primary active:text-primary transition-colors duration-300 cursor-pointer animated-link"
            data-time="0">Inicio</a
          >
        </li>
        <li>
          <a
            class="md:hover:text-primary active:text-primary transition-colors duration-300 cursor-pointer animated-link"
            data-time="80">Inversión</a
          >
        </li>
        <li>
          <a
            class="md:hover:text-primary active:text-primary transition-colors duration-300 cursor-pointer animated-link"
            data-time="0">Experiencias</a
          >
        </li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li>
          <a
            class="md:hover:text-primary active:text-primary transition-colors duration-300 cursor-pointer animated-link"
            data-time="435">FAQS</a
          >
        </li>
        <li>
          <a
            class="md:hover:text-primary active:text-primary transition-colors duration-300 cursor-pointer animated-link"
            data-time="480">Contacto</a
          >
        </li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li>
          <a
            class="md:hover:text-primary active:text-primary transition-colors duration-300 cursor-pointer"
            href="/privacy">Política de Privacidad</a
          >
        </li>
        <li>
          <a
            class="md:hover:text-primary active:text-primary transition-colors duration-300 cursor-pointer"
            href="/cookies">Política de Cookies</a
          >
        </li>
        <li>
          <a
            class="md:hover:text-primary active:text-primary transition-colors duration-300 cursor-pointer"
            href="/conditions">Condiciones generales</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <p class="text-center mt-11 text-[14px] opacity-40 px-4">
    Fundfy Investment Club SL ©2025 Todos los derechos reservados
  </p>
</footer>
