---
import image from "@assets/fundfy_logo.svg";
import MenuMobile from "@atoms/MenuMobile.astro";
import Menu from "@atoms/Menu.astro";
---

<header class="fixed top-0 bottom-none z-10 w-full">
  <div
    class="opacity-0 background-blur absolute inset-0 bg-white/30 backdrop-blur-md transition-opacity duration-300 pointer-events-none"
  >
  </div>
  <div
    class="max-w-[1160px] mx-auto flex align-center justify-between px-4 py-6"
  >
    <a class="logo inline-block w-32 lg:w-52 z-10 cursor-pointer" data-time="0">
      <img src={image.src} alt="Logo" class="w-full h-full" />
    </a>
    <Menu />
    <MenuMobile />
  </div>
</header>

<script>
  const section = document.querySelector(".observe");
  const blur = document.querySelector(".background-blur");
  const menuList = document.querySelector(".menu-list");

  function comprobarScroll() {
    if (!section) return;

    const rect = section.getBoundingClientRect();

    if (!blur || !menuList) return;

    const offset = 100;

    if (rect.top <= offset) {
      blur.classList.add("opacity-100");
      menuList.classList.add("md:text-dark");
      menuList.classList.remove("md:text-white");
    } else {
      blur.classList.remove("opacity-100");
      menuList.classList.remove("md:text-dark");
      menuList.classList.add("md:text-white");
    }
  }

  window.addEventListener("scroll", comprobarScroll);
  window.addEventListener("resize", comprobarScroll);
  document.addEventListener("DOMContentLoaded", comprobarScroll);
</script>
