---
import image from "../assets/fundfy_logo.svg";
import Button from "./atoms/Button.astro";
---

<header class="fixed top-0 bottom-none z-10 w-full">
  <div
    class="max-w-[1160px] mx-auto flex align-center justify-between px-4 py-6"
  >
    <img src={image.src} alt="Logo" class="w-32 lg:w-44" />

    <div class="w-full justify-end items-center gap-[16px] lg:gap-[52px] flex">
      <nav
        id="nav-menu"
        role="navigation"
        aria-label="Menú principal"
        class="hidden md:flex absolute px-3 pb-4 pt-7 top-0 left-0 w-full md:w-auto bg-primary shadow-md md:shadow-none md:relative md:bg-transparent rounded-bl-xl rounded-br-xl md:rounded-none"
      >
        <div class="justify-end mb-4 flex md:hidden">
          <button
            id="close-menu-btn"
            class="text-dark absolute top-6 right-4"
            aria-label="Cerrar menú"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="size-8"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <ul
          class="flex gap-[8px] md:gap-[32px] lg:gap-[52px] flex-col md:flex-row text-dark md:text-white text-center md:text-left"
        >
          <li>
            <a
              class="font-semibold text-lg md:text-[15px] hover:text-gray-200"
              href="#inversion">Inversión</a
            >
          </li>
          <li>
            <a
              class="font-semibold text-lg md:text-[15px] hover:text-gray-200"
              href="#experiences">Experiencias</a
            >
          </li>
          <li>
            <a
              class="font-semibold text-lg md:text-[15px] hover:text-gray-200"
              href="#faqs">FAQs</a
            >
          </li>
          <li>
            <a
              class="font-semibold text-lg md:text-[15px] hover:text-gray-200"
              href="#join">Hazte socio</a
            >
          </li>
        </ul>
      </nav>
      <Button href="#">
        Lanzar App
        <span class="block ml-2 group-hover:translate-x-1 transition-transform"
          >➔</span
        >
      </Button>
      <div class="md:hidden">
        <button
          type="button"
          id="hamburger-btn"
          class="flex items-center text-gray-500"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>

<script>
  import { gsap } from "gsap";

  document.addEventListener("DOMContentLoaded", function () {
    const menu = document.getElementById("nav-menu");
    const menuButton = document.getElementById("hamburger-btn");
    const closeButton = document.getElementById("close-menu-btn");

    let isOpen = false;

    if (menuButton === null || closeButton === null) {
      return;
    }

    function openMenu() {
      gsap.fromTo(
        menu,
        {
          scaleY: 0,
          opacity: 0,
          transformOrigin: "top center",
          display: "block",
        },
        {
          scaleY: 1,
          opacity: 1,
          duration: 0.6,
          ease: "elastic.out(1, 0.75)",
        }
      );
      isOpen = true;
    }

    function closeMenu() {
      gsap.to(menu, {
        scaleY: 0,
        opacity: 0,
        duration: 0.4,
        ease: "power2.inOut",
        onComplete: () => {
          if (menu) {
            menu.style.display = "none";
          }
        },
      });
      isOpen = false;
    }

    menuButton.addEventListener("click", () => {
      if (!isOpen) {
        openMenu();
      }
    });

    closeButton.addEventListener("click", closeMenu);
  });
</script>
