---
import HeroItem from "@atoms/HeroItem.astro";
import TraidingWidget from "@atoms/TraidingWidget.astro";
import Button from "@atoms/Button.astro";
---

<section
  class="text-wrapper w-screen h-screen absolute top-0 left-0 pt-24 md:pr-4 md:pt-0 z-30"
>
  <HeroItem>
    <div class="relative h-32 md:h-72 mt-6 md:mt-0">
      <div class="hero-text-1 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          Más que un Club de Inversión: transforma tu vida financiera
        </h2>
        <p class="text-sm md:text-xl font-semibold text-primary text-balance">
          Operando bajo la licencia MiCA Europea
        </p>
        <p class="text-sm md:text-lg text-primary text-balance opacity-50">
          (European Market in Crypto-Assets)
        </p>
      </div>

      <div class="hero-text-2 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          Acceso exclusivo a rentabilidad, estrategia y red profesional
        </h2>
        <p class="text-sm md:text-xl font-semibold text-primary text-balance">
          Hemos diseñado una estructura privada para maximizar tu patrimonio
        </p>
      </div>

      <div class="hero-text-3 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          Más que ventajas. Una experiencia exclusiva
        </h2>
        <p class="text-sm md:text-xl font-semibold text-primary text-balance">
          No dejamos nada al azar: nos guiamos por el análisis y resultados
          medibles
        </p>
      </div>
    </div>

    <div class="cta-buttons flex gap-5 mt-16 px-4">
      <Button tag="a" variant="ghost" href="#"> Saber más </Button>
      <Button tag="a" variant="secondary" href="#"> Únete al Club </Button>
    </div>
  </HeroItem>

  <HeroItem position="right">
    <div class="relative h-48 md:h-80">
      <div class="hero-text-4 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          Liquidez sin concesiones
        </h2>
        <p class="text-sm md:text-xl font-semibold text-primary text-balance">
          Rotación rápida de capital con gestión estratégica. Accede a tu
          inversión sin renunciar a rendimiento.
        </p>
        <div
          class="color-card flex gap-2 items-center mt-5 border border-primary rounded-2xl px-4 pt-1 pb-2 max-w-[347px] w-full"
        >
          <svg
            width="85"
            height="85"
            viewBox="0 0 85 85"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g
              clip-path="url(#paint0_angular_0_148_clip_path)"
              data-figma-skip-parse="true"
              ><g transform="matrix(-0.017 0.017 -0.017 -0.017 34.0004 34)"
                ><foreignObject
                  x="-1015.25"
                  y="-1015.25"
                  width="2030.51"
                  height="2030.51"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(145, 189, 180, 1) 0deg,rgba(145, 189, 180, 0) 0.105641deg,rgba(145, 189, 180, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M51.0004 51C54.2781 47.7223 56.5384 43.5669 57.509 39.0342C58.4797 34.5016 58.1193 29.785 56.4712 25.4524C54.8232 21.1198 51.9578 17.3561 48.2201 14.6144C44.4824 11.8728 40.0318 10.2701 35.4043 9.9994C30.7768 9.72872 26.1697 10.8016 22.1378 13.0888C18.106 15.376 14.8213 18.78 12.6793 22.8908C10.5374 27.0017 9.62954 31.6441 10.0651 36.259C10.5006 40.8739 12.261 45.2645 15.1343 48.9021L34.0004 34L51.0004 51Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":1.0},"position":1.0}],"transform":{"m00":-34.000019073486328,"m01":-34.000015258789062,"m02":68.000389099121094,"m10":34.000015258789062,"m11":-34.000019073486328,"m12":34.000022888183594},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <g
              clip-path="url(#paint1_angular_0_148_clip_path)"
              data-figma-skip-parse="true"
              ><g transform="matrix(0.017 -0.017 0.017 0.017 50.9996 51)"
                ><foreignObject
                  x="-1015.25"
                  y="-1015.25"
                  width="2030.51"
                  height="2030.51"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(145, 189, 180, 1) 0deg,rgba(145, 189, 180, 0) 0.105641deg,rgba(145, 189, 180, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M33.9996 34C30.7408 37.2588 28.4874 41.3855 27.5076 45.8888C26.5278 50.3921 26.863 55.0821 28.4733 59.4002C30.0835 63.7184 32.901 67.4827 36.5901 70.2449C40.2793 73.0071 44.6846 74.6508 49.2814 74.9801C53.8783 75.3095 58.4729 74.3107 62.5182 72.1027C66.5634 69.8947 69.8888 66.5705 72.0982 62.526C74.3077 58.4815 75.3081 53.8873 74.9804 49.2903C74.6527 44.6933 73.0106 40.2874 70.2497 36.5973L50.9996 51L33.9996 34Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":1.0},"position":1.0}],"transform":{"m00":34.000019073486328,"m01":34.000022888183594,"m02":16.999612808227539,"m10":-34.000022888183594,"m11":34.000019073486328,"m12":50.999984741210938},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <g
              clip-path="url(#paint2_angular_0_148_clip_path)"
              data-figma-skip-parse="true"
              ><g transform="matrix(-0.017 -0.017 0.017 -0.017 51 33.9998)"
                ><foreignObject
                  x="-1015.25"
                  y="-1015.25"
                  width="2030.51"
                  height="2030.51"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(145, 189, 180, 1) 0deg,rgba(145, 189, 180, 0) 0.105641deg,rgba(145, 189, 180, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M34 50.9998C37.2777 54.2775 41.4331 56.5378 45.9658 57.5084C50.4984 58.4791 55.215 58.1186 59.5476 56.4706C63.8802 54.8225 67.6439 51.9571 70.3856 48.2194C73.1272 44.4818 74.7299 40.0312 75.0006 35.4037C75.2713 30.7761 74.1984 26.1691 71.9112 22.1372C69.624 18.1053 66.22 14.8207 62.1092 12.6787C57.9983 10.5368 53.3559 9.62892 48.741 10.0645C44.1261 10.5 39.7355 12.2604 36.0979 15.1337L51 33.9998L34 50.9998Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":1.0},"position":1.0}],"transform":{"m00":-34.000011444091797,"m01":34.000022888183594,"m02":50.999977111816406,"m10":-34.000022888183594,"m11":-34.000011444091797,"m12":67.999771118164062},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <g
              clip-path="url(#paint3_angular_0_148_clip_path)"
              data-figma-skip-parse="true"
              ><g transform="matrix(0.017 0.017 -0.017 0.017 34 50.9995)"
                ><foreignObject
                  x="-1015.25"
                  y="-1015.25"
                  width="2030.51"
                  height="2030.51"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(145, 189, 180, 1) 0deg,rgba(145, 189, 180, 0) 0.105641deg,rgba(145, 189, 180, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M51 33.9995C47.7412 30.7407 43.6145 28.4872 39.1112 27.5075C34.6079 26.5277 29.9179 26.8629 25.5998 28.4732C21.2816 30.0834 17.5173 32.9009 14.7551 36.59C11.9929 40.2792 10.3492 44.6845 10.0199 49.2813C9.69048 53.8781 10.6893 58.4728 12.8973 62.518C15.1053 66.5633 18.4295 69.8887 22.474 72.0981C26.5185 74.3076 31.1127 75.308 35.7097 74.9803C40.3067 74.6526 44.7126 73.0105 48.4027 70.2496L34 50.9995L51 33.9995Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.74117648601531982,"b":0.70588237047195435,"a":1.0},"position":1.0}],"transform":{"m00":34.000019073486328,"m01":-34.000019073486328,"m02":34.000019073486328,"m10":34.000019073486328,"m11":34.000019073486328,"m12":16.999492645263672},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <defs>
              <clipPath id="paint0_angular_0_148_clip_path"
                ><path
                  d="M51.0004 51C54.2781 47.7223 56.5384 43.5669 57.509 39.0342C58.4797 34.5016 58.1193 29.785 56.4712 25.4524C54.8232 21.1198 51.9578 17.3561 48.2201 14.6144C44.4824 11.8728 40.0318 10.2701 35.4043 9.9994C30.7768 9.72872 26.1697 10.8016 22.1378 13.0888C18.106 15.376 14.8213 18.78 12.6793 22.8908C10.5374 27.0017 9.62954 31.6441 10.0651 36.259C10.5006 40.8739 12.261 45.2645 15.1343 48.9021L34.0004 34L51.0004 51Z"
                ></path></clipPath
              ><clipPath id="paint1_angular_0_148_clip_path"
                ><path
                  d="M33.9996 34C30.7408 37.2588 28.4874 41.3855 27.5076 45.8888C26.5278 50.3921 26.863 55.0821 28.4733 59.4002C30.0835 63.7184 32.901 67.4827 36.5901 70.2449C40.2793 73.0071 44.6846 74.6508 49.2814 74.9801C53.8783 75.3095 58.4729 74.3107 62.5182 72.1027C66.5634 69.8947 69.8888 66.5705 72.0982 62.526C74.3077 58.4815 75.3081 53.8873 74.9804 49.2903C74.6527 44.6933 73.0106 40.2874 70.2497 36.5973L50.9996 51L33.9996 34Z"
                ></path></clipPath
              ><clipPath id="paint2_angular_0_148_clip_path"
                ><path
                  d="M34 50.9998C37.2777 54.2775 41.4331 56.5378 45.9658 57.5084C50.4984 58.4791 55.215 58.1186 59.5476 56.4706C63.8802 54.8225 67.6439 51.9571 70.3856 48.2194C73.1272 44.4818 74.7299 40.0312 75.0006 35.4037C75.2713 30.7761 74.1984 26.1691 71.9112 22.1372C69.624 18.1053 66.22 14.8207 62.1092 12.6787C57.9983 10.5368 53.3559 9.62892 48.741 10.0645C44.1261 10.5 39.7355 12.2604 36.0979 15.1337L51 33.9998L34 50.9998Z"
                ></path></clipPath
              ><clipPath id="paint3_angular_0_148_clip_path"
                ><path
                  d="M51 33.9995C47.7412 30.7407 43.6145 28.4872 39.1112 27.5075C34.6079 26.5277 29.9179 26.8629 25.5998 28.4732C21.2816 30.0834 17.5173 32.9009 14.7551 36.59C11.9929 40.2792 10.3492 44.6845 10.0199 49.2813C9.69048 53.8781 10.6893 58.4728 12.8973 62.518C15.1053 66.5633 18.4295 69.8887 22.474 72.0981C26.5185 74.3076 31.1127 75.308 35.7097 74.9803C40.3067 74.6526 44.7126 73.0105 48.4027 70.2496L34 50.9995L51 33.9995Z"
                ></path></clipPath
              ></defs
            >
          </svg>

          <div>
            <p
              class="text-sm md:text-xl font-semibold text-primary text-balance"
            >
              Cartera Anual
            </p>
            <p class="text-balance leading-5 text-[15px]">
              APR máximo: 2% mensual / 24% anual
            </p>
          </div>
        </div>
      </div>

      <div class="hero-text-5 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          Estabilidad con visión estratégica
        </h2>
        <p class="text-sm md:text-xl font-semibold text-[#AE91BD] text-balance">
          Rentabilidad sólida en ciclos de mercado, con la flexibilidad de
          revisiones periódicas.
        </p>
        <div
          class="color-card flex gap-2 items-center mt-5 border border-[#AE91BD] rounded-2xl px-4 pt-1 pb-2 max-w-[347px] w-full"
        >
          <svg
            width="79"
            height="79"
            viewBox="0 0 79 79"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g
              clip-path="url(#paint0_angular_0_166_clip_path)"
              data-figma-skip-parse="true"
              ><g
                transform="matrix(0.0130189 0.0130189 -0.0130189 0.0130189 26.9243 26.9246)"
                ><foreignObject
                  x="-1019.83"
                  y="-1019.83"
                  width="2039.65"
                  height="2039.65"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(174, 145, 189, 1) 0deg,rgba(174, 145, 189, 0) 0.105641deg,rgba(174, 145, 189, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M26.9243 52.9624C12.6695 38.7076 12.6695 15.1415 26.9243 0.886758L52.9621 26.9246L26.9243 52.9624Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":1.0},"position":1.0}],"transform":{"m00":26.037832260131836,"m01":-26.037834167480469,"m02":26.924312591552734,"m10":26.037803649902344,"m11":26.037801742553711,"m12":0.88675516843795776},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <g
              clip-path="url(#paint1_angular_0_166_clip_path)"
              data-figma-skip-parse="true"
              ><g
                transform="matrix(0.0130189 -0.0130189 0.0130189 0.0130189 26.9245 52.9624)"
                ><foreignObject
                  x="-1019.83"
                  y="-1019.83"
                  width="2039.65"
                  height="2039.65"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(174, 145, 189, 1) 0deg,rgba(174, 145, 189, 0) 0.105641deg,rgba(174, 145, 189, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M52.9623 52.9624C38.7075 67.2172 15.1414 67.2172 0.886666 52.9624L26.9245 26.9246L52.9623 52.9624Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":1.0},"position":1.0}],"transform":{"m00":26.037834167480469,"m01":26.037832260131836,"m02":0.88666337728500366,"m10":-26.037801742553711,"m11":26.037803649902344,"m12":52.962436676025391},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <g
              clip-path="url(#paint2_angular_0_166_clip_path)"
              data-figma-skip-parse="true"
              ><g
                transform="matrix(-0.0130189 0.0130189 -0.0130189 -0.0130189 52.962 26.9248)"
                ><foreignObject
                  x="-1019.83"
                  y="-1019.83"
                  width="2039.65"
                  height="2039.65"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(174, 145, 189, 1) 0deg,rgba(174, 145, 189, 0) 0.105641deg,rgba(174, 145, 189, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M26.9242 26.9248C41.179 12.67 64.7451 12.67 78.9999 26.9248L52.962 52.9626L26.9242 26.9248Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":1.0},"position":1.0}],"transform":{"m00":-26.037834167480469,"m01":-26.037832260131836,"m02":78.999870300292969,"m10":26.037801742553711,"m11":-26.037803649902344,"m12":26.924768447875977},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <g
              clip-path="url(#paint3_angular_0_166_clip_path)"
              data-figma-skip-parse="true"
              ><g
                transform="matrix(-0.0130189 -0.0130189 0.0130189 -0.0130189 52.9622 52.9626)"
                ><foreignObject
                  x="-1019.83"
                  y="-1019.83"
                  width="2039.65"
                  height="2039.65"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(174, 145, 189, 1) 0deg,rgba(174, 145, 189, 0) 0.105641deg,rgba(174, 145, 189, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M52.9622 26.9248C67.217 41.1796 67.217 64.7457 52.9622 79.0004L26.9244 52.9626L52.9622 26.9248Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.68235296010971069,"g":0.56862747669219971,"b":0.74117648601531982,"a":1.0},"position":1.0}],"transform":{"m00":-26.037832260131836,"m01":26.037834167480469,"m02":52.962223052978516,"m10":-26.037803649902344,"m11":-26.037801742553711,"m12":79.000450134277344},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <defs>
              <clipPath id="paint0_angular_0_166_clip_path"
                ><path
                  d="M26.9243 52.9624C12.6695 38.7076 12.6695 15.1415 26.9243 0.886758L52.9621 26.9246L26.9243 52.9624Z"
                ></path></clipPath
              ><clipPath id="paint1_angular_0_166_clip_path"
                ><path
                  d="M52.9623 52.9624C38.7075 67.2172 15.1414 67.2172 0.886666 52.9624L26.9245 26.9246L52.9623 52.9624Z"
                ></path></clipPath
              ><clipPath id="paint2_angular_0_166_clip_path"
                ><path
                  d="M26.9242 26.9248C41.179 12.67 64.7451 12.67 78.9999 26.9248L52.962 52.9626L26.9242 26.9248Z"
                ></path></clipPath
              ><clipPath id="paint3_angular_0_166_clip_path"
                ><path
                  d="M52.9622 26.9248C67.217 41.1796 67.217 64.7457 52.9622 79.0004L26.9244 52.9626L52.9622 26.9248Z"
                ></path></clipPath
              ></defs
            >
          </svg>

          <div>
            <p
              class="text-sm md:text-xl font-semibold text-[#AE91BD] text-balance"
            >
              Cartera Semestral
            </p>
            <p class="text-balance leading-5 text-[15px]">
              APR máximo: 16% semestral / 32% anual
            </p>
          </div>
        </div>
      </div>

      <div class="hero-text-6 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          Consolidación y estrategia a largo plazo
        </h2>
        <p class="text-sm md:text-xl font-semibold text-[#91A7BD] text-balance">
          Un modelo de gestión pensado para construir valor real y sostenible.
        </p>
        <div
          class="color-card flex gap-2 items-center mt-5 border border-[#91A7BD] rounded-2xl px-4 pt-1 pb-2 max-w-[347px] w-full"
        >
          <svg
            width="80"
            height="80"
            viewBox="0 0 80 80"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g
              clip-path="url(#paint0_angular_45_7_clip_path)"
              data-figma-skip-parse="true"
              ><g
                transform="matrix(2.98551e-08 0.0190167 -0.0190167 -3.10585e-08 39.9999 26.0336)"
                ><foreignObject
                  x="-1019"
                  y="-1019"
                  width="2037.99"
                  height="2037.99"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(145, 167, 189, 1) 0deg,rgba(145, 167, 189, 0) 0.105641deg,rgba(145, 167, 189, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M20.9832 7.01685L50.3471 7.01689C55.1351 7.0169 59.0166 10.8984 59.0166 15.6864L59.0166 36.3808C59.0166 41.1689 55.1352 45.0503 50.3472 45.0503L20.9832 45.0503L20.9832 7.01685Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":1.0},"position":1.0}],"transform":{"m00":5.9710146160796285e-05,"m01":-38.033412933349609,"m02":59.016574859619141,"m10":38.033412933349609,"m11":-6.2117083871271461e-05,"m12":7.0169072151184082},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <g
              clip-path="url(#paint1_angular_45_7_clip_path)"
              data-figma-skip-parse="true"
              ><g
                transform="matrix(-0.0190167 -3.10585e-08 -2.9855e-08 -0.0190167 54.2925 40.326)"
                ><foreignObject
                  x="-1019"
                  y="-1019"
                  width="2037.99"
                  height="2037.99"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(145, 167, 189, 1) 0deg,rgba(145, 167, 189, 0) 0.105641deg,rgba(145, 167, 189, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M73.3092 21.3093L73.3093 50.6733C73.3093 55.4613 69.4278 59.3427 64.6398 59.3427L43.9453 59.3427C39.1573 59.3427 35.2758 55.4612 35.2758 50.6732L35.2758 21.3093L73.3092 21.3093Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":1.0},"position":1.0}],"transform":{"m00":-38.033412933349609,"m01":-5.9710051573347300e-05,"m02":73.309265136718750,"m10":-6.2116989283822477e-05,"m11":-38.033412933349609,"m12":59.342746734619141},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <g
              clip-path="url(#paint2_angular_45_7_clip_path)"
              data-figma-skip-parse="true"
              ><g
                transform="matrix(0.0190167 3.10585e-08 2.9855e-08 0.0190167 25.7075 40.3258)"
                ><foreignObject
                  x="-1019"
                  y="-1019"
                  width="2037.99"
                  height="2037.99"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(145, 167, 189, 1) 0deg,rgba(145, 167, 189, 0) 0.105641deg,rgba(145, 167, 189, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M6.6908 59.3425L6.69075 29.9786C6.69074 25.1906 10.5722 21.3091 15.3602 21.3091L36.0547 21.3092C40.8427 21.3092 44.7242 25.1906 44.7242 29.9787L44.7242 59.3426L6.6908 59.3425Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":1.0},"position":1.0}],"transform":{"m00":38.033412933349609,"m01":5.9710051573347300e-05,"m02":6.6907358169555664,"m10":6.2116989283822477e-05,"m11":38.033412933349609,"m12":21.309110641479492},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <g
              clip-path="url(#paint3_angular_45_7_clip_path)"
              data-figma-skip-parse="true"
              ><g
                transform="matrix(-2.82521e-08 -0.0190167 0.0190167 3.26615e-08 39.9999 54.618)"
                ><foreignObject
                  x="-1019"
                  y="-1019"
                  width="2037.99"
                  height="2037.99"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(145, 167, 189, 1) 0deg,rgba(145, 167, 189, 0) 0.105641deg,rgba(145, 167, 189, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M59.0167 73.6348L29.6527 73.6347C24.8647 73.6347 20.9832 69.7532 20.9832 64.9652L20.9832 44.2708C20.9832 39.4827 24.8646 35.6013 29.6527 35.6013L59.0166 35.6014L59.0167 73.6348Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.56862747669219971,"g":0.65490198135375977,"b":0.74117648601531982,"a":1.0},"position":1.0}],"transform":{"m00":-5.6504166423110291e-05,"m01":38.033412933349609,"m02":20.983243942260742,"m10":-38.033412933349609,"m11":6.5323059970978647e-05,"m12":73.634704589843750},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <defs>
              <clipPath id="paint0_angular_45_7_clip_path"
                ><path
                  d="M20.9832 7.01685L50.3471 7.01689C55.1351 7.0169 59.0166 10.8984 59.0166 15.6864L59.0166 36.3808C59.0166 41.1689 55.1352 45.0503 50.3472 45.0503L20.9832 45.0503L20.9832 7.01685Z"
                ></path></clipPath
              ><clipPath id="paint1_angular_45_7_clip_path"
                ><path
                  d="M73.3092 21.3093L73.3093 50.6733C73.3093 55.4613 69.4278 59.3427 64.6398 59.3427L43.9453 59.3427C39.1573 59.3427 35.2758 55.4612 35.2758 50.6732L35.2758 21.3093L73.3092 21.3093Z"
                ></path></clipPath
              ><clipPath id="paint2_angular_45_7_clip_path"
                ><path
                  d="M6.6908 59.3425L6.69075 29.9786C6.69074 25.1906 10.5722 21.3091 15.3602 21.3091L36.0547 21.3092C40.8427 21.3092 44.7242 25.1906 44.7242 29.9787L44.7242 59.3426L6.6908 59.3425Z"
                ></path></clipPath
              ><clipPath id="paint3_angular_45_7_clip_path"
                ><path
                  d="M59.0167 73.6348L29.6527 73.6347C24.8647 73.6347 20.9832 69.7532 20.9832 64.9652L20.9832 44.2708C20.9832 39.4827 24.8646 35.6013 29.6527 35.6013L59.0166 35.6014L59.0167 73.6348Z"
                ></path></clipPath
              ></defs
            >
          </svg>

          <div>
            <p class="text-xl font-semibold text-[#91A7BD] text-balance">
              Cartera Mensual
            </p>
            <p class="text-balance leading-5 text-[15px]">
              APR máximo: 40% anual
            </p>
          </div>
        </div>
      </div>

      <div class="hero-text-7 absolute left-0 w-full px-4">
        <h2
          class="text-[32px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          Sin calendario. Invierte a tu ritmo
        </h2>
        <p class="text-sm md:text-xl font-semibold text-[#BD91A0] text-balance">
          Entra en el mercado cuando lo necesites e invierte en oportunidades
          únicas.
        </p>
        <div
          class="color-card flex gap-2 items-center mt-5 border border-[#BD91A0] rounded-2xl px-4 pt-1 pb-2 max-w-[347px] w-full"
        >
          <svg
            width="72"
            height="73"
            viewBox="0 0 72 73"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g
              clip-path="url(#paint0_angular_0_202_clip_path)"
              data-figma-skip-parse="true"
              ><g
                transform="matrix(-0.0239604 0.0240002 -0.0239604 -0.0240002 47.9207 24.7786)"
                ><foreignObject
                  x="-1384.16"
                  y="-1384.16"
                  width="2768.32"
                  height="2768.32"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(189, 145, 160, 1) 0deg,rgba(189, 145, 160, 0) 0.105641deg,rgba(189, 145, 160, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M54.4212 5.46443C62.1811 3.38172 69.2856 10.4803 67.2093 18.242L56.6906 57.5635L15.19 15.9939L54.4212 5.46443Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":1.0},"position":1.0}],"transform":{"m00":-47.920814514160156,"m01":-47.920814514160156,"m02":95.841468811035156,"m10":48.000461578369141,"m11":-48.000461578369141,"m12":24.778585433959961},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <g
              clip-path="url(#paint1_angular_0_202_clip_path)"
              data-figma-skip-parse="true"
              ><g
                transform="matrix(-0.0239604 -0.0240002 0.0239604 -0.0240002 48.0399 48.6174)"
                ><foreignObject
                  x="-1384.16"
                  y="-1384.16"
                  width="2768.33"
                  height="2768.33"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(189, 145, 160, 1) 0deg,rgba(189, 145, 160, 0) 0.105641deg,rgba(189, 145, 160, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M67.3285 55.154C69.4047 62.9156 62.3002 70.0143 54.5403 67.9316L15.3091 57.4021L56.8098 15.8325L67.3285 55.154Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":1.0},"position":1.0}],"transform":{"m00":-47.920814514160156,"m01":47.920825958251953,"m02":48.039867401123047,"m10":-48.000465393066406,"m11":-48.000457763671875,"m12":96.617881774902344},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <g
              clip-path="url(#paint2_angular_0_202_clip_path)"
              data-figma-skip-parse="true"
              ><g
                transform="matrix(0.0239604 -0.0240002 0.0239604 0.0240002 23.9605 48.7781)"
                ><foreignObject
                  x="-1384.16"
                  y="-1384.16"
                  width="2768.32"
                  height="2768.32"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(189, 145, 160, 1) 0deg,rgba(189, 145, 160, 0) 0.105641deg,rgba(189, 145, 160, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M17.4598 68.0922C9.69988 70.1749 2.59534 63.0763 4.67161 55.3147L15.1903 15.9932L56.6909 57.5628L17.4598 68.0922Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":1.0},"position":1.0}],"transform":{"m00":47.920818328857422,"m01":47.920810699462891,"m02":-23.960363388061523,"m10":-48.000461578369141,"m11":48.000469207763672,"m12":48.778141021728516},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <g
              clip-path="url(#paint3_angular_0_202_clip_path)"
              data-figma-skip-parse="true"
              ><g
                transform="matrix(0.0239604 0.0240002 -0.0239604 0.0240002 24.0805 24.9002)"
                ><foreignObject
                  x="-1384.16"
                  y="-1384.16"
                  width="2768.32"
                  height="2768.32"
                  ><div
                    style="background:conic-gradient(from 90deg,rgba(189, 145, 160, 1) 0deg,rgba(189, 145, 160, 0) 0.105641deg,rgba(189, 145, 160, 1) 360deg);height:100%;width:100%;opacity:1"
                  >
                  </div></foreignObject
                ></g
              ></g
            ><path
              d="M4.79173 18.3636C2.71546 10.6019 9.81999 3.50329 17.5799 5.58601L56.8111 16.1154L15.3104 57.6851L4.79173 18.3636Z"
              data-figma-gradient-fill='{"type":"GRADIENT_ANGULAR","stops":[{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":1.0},"position":1.0}],"stopsVar":[{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":0.0},"position":0.00029344836366362870},{"color":{"r":0.74117648601531982,"g":0.56862747669219971,"b":0.62745100259780884,"a":1.0},"position":1.0}],"transform":{"m00":47.920814514160156,"m01":-47.920814514160156,"m02":24.080488204956055,"m10":48.000461578369141,"m11":48.000461578369141,"m12":-23.100290298461914},"opacity":1.0,"blendMode":"NORMAL","visible":true}'
            ></path>
            <defs>
              <clipPath id="paint0_angular_0_202_clip_path"
                ><path
                  d="M54.4212 5.46443C62.1811 3.38172 69.2856 10.4803 67.2093 18.242L56.6906 57.5635L15.19 15.9939L54.4212 5.46443Z"
                ></path></clipPath
              ><clipPath id="paint1_angular_0_202_clip_path"
                ><path
                  d="M67.3285 55.154C69.4047 62.9156 62.3002 70.0143 54.5403 67.9316L15.3091 57.4021L56.8098 15.8325L67.3285 55.154Z"
                ></path></clipPath
              ><clipPath id="paint2_angular_0_202_clip_path"
                ><path
                  d="M17.4598 68.0922C9.69988 70.1749 2.59534 63.0763 4.67161 55.3147L15.1903 15.9932L56.6909 57.5628L17.4598 68.0922Z"
                ></path></clipPath
              ><clipPath id="paint3_angular_0_202_clip_path"
                ><path
                  d="M4.79173 18.3636C2.71546 10.6019 9.81999 3.50329 17.5799 5.58601L56.8111 16.1154L15.3104 57.6851L4.79173 18.3636Z"
                ></path></clipPath
              ></defs
            >
          </svg>

          <div>
            <p
              class="text-sm md:text-xl font-semibold text-[#BD91A0] text-balance"
            >
              Cartera Spot
            </p>
            <p class="text-balance leading-5 text-[15px]">Sin APR máximo</p>
          </div>
        </div>
      </div>
    </div>

    <div class="app-button flex gap-5 mt-16 px-4">
      <Button tag="a" variant="secondary" href="#">
        Lanzar App
        <span class="block ml-2 group-hover:translate-x-1 transition-transform"
          >➔</span
        >
      </Button>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-8 w-full px-4">
      <p class="md:text-center text-xl text-primary mb-3 md:mb-8 text-balance">
        <strong class="text-semibold">Club Fundfy</strong>: forma parte de una
        red privada de inversores
      </p>
      <h2
        class="md:text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        Acceso exclusivo a nuestra membresía para impulsar tu crecimiento
        financiero
      </h2>
    </div>

    <div class="join-button mt-4 mb-24 px-4">
      <Button tag="a" variant="primary" href="#"> Únete al Club </Button>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-9 w-full px-4">
      <p class="text-center text-xl text-primary mb-8">
        <strong class="text-semibold">Experiencias</strong> Más que inversión
      </p>
      <h2
        class="text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        Luxe SuperCars
      </h2>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-10 w-full px-4">
      <p class="text-center text-xl text-primary mb-8">
        <strong class="text-semibold">Experiencias</strong> Más que inversión
      </p>
      <h2
        class="text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        Sailing yachting
      </h2>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-11 w-full px-4">
      <p class="text-center text-xl text-primary mb-8">
        <strong class="text-semibold">Experiencias</strong> Más que inversión
      </p>
      <h2
        class="text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        Events
      </h2>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-12 w-full px-4">
      <p class="text-center text-xl text-primary mb-8">
        <strong class="text-semibold">Experiencias</strong> Más que inversión
      </p>
      <h2
        class="text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        Suscriptions
      </h2>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-13 w-full px-4">
      <p class="text-center text-xl text-primary mb-8">
        <strong class="text-semibold">Experiencias</strong> Más que inversión
      </p>
      <h2
        class="text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        Suscriptions
      </h2>
    </div>
  </HeroItem>

  <HeroItem position="center">
    <div class="hero-text-14 w-full px-4">
      <p class="text-center text-xl text-primary mb-8">
        <strong class="text-semibold">Experiencias</strong> Más que inversión
      </p>
      <h2
        class="text-center text-[36px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
      >
        y mucho más...
      </h2>
    </div>
  </HeroItem>

  <TraidingWidget />
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { ScrollToPlugin } from "gsap/ScrollToPlugin";

  gsap.registerPlugin(ScrollTrigger, ScrollToPlugin);

  const isMobile = window.matchMedia("(max-width: 1024px)").matches;
  const cardTop = isMobile ? "65%" : "72%";

  const tl = gsap
    .timeline()
    // Slide 2 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 360,
      duration: 24,
      delay: 24,
    })
    .to(
      ".hero-text-1",
      {
        opacity: 0,
        top: "-100px",
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-2",
      {
        opacity: 1,
        top: "0",
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Slide 3 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 720,
      duration: 24,
      delay: 24,
    })

    .to(
      ".hero-text-2",
      {
        opacity: 0,
        top: "-100px",
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-3",
      {
        opacity: 1,
        top: "0",
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Transition to slide 4 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationY: 10,
      rotationX: -4,
      rotationZ: -14,
      left: "50px",
      duration: 32,
      delay: 24,
    })

    .to(
      ".shadow-card",
      {
        right: "auto",
        left: "-120px",
        rotate: -60,
        duration: 32,
      },
      "<"
    )
    .to(
      ".tradingview-widget-container",
      {
        opacity: 0,
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-video",
      {
        opacity: 0.2,
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-3",
      {
        opacity: 0,
        duration: 12,
        top: "-400px",
      },
      "<"
    )
    .to(
      ".cta-buttons",
      {
        opacity: 0,
        duration: 12,
        top: "-150px",
      },
      "<"
    )

    // Slide 4 --------------------------------------------------------------
    .to(".hero-text-4", {
      opacity: 1,
      top: "0",
      duration: 6,
    })
    .to(
      ".app-button",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 5 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 360,
      duration: 24,
      delay: 24,
    })
    .to(
      ".shadow1",
      {
        opacity: 0,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow2",
      {
        scaleX: -1,
        opacity: 1,
        duration: 16,
      },
      "<"
    )
    .to(
      ".hero-text-4",
      {
        opacity: 0,
        top: "-100px",
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-5",
      {
        opacity: 1,
        top: "0",
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Slide 6 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 720,
      duration: 24,
      delay: 24,
    })
    .to(
      ".shadow2",
      {
        opacity: 0,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow3",
      {
        scaleX: -1,
        opacity: 1,
        duration: 16,
      },
      "<"
    )
    .to(
      ".hero-text-5",
      {
        opacity: 0,
        top: "-100px",
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-6",
      {
        opacity: 1,
        top: "0",
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Slide 7 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 1080,
      duration: 24,
      delay: 24,
    })
    .to(
      ".shadow3",
      {
        opacity: 0,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow4",
      {
        scaleX: -1,
        opacity: 1,
        duration: 16,
      },
      "<"
    )
    .to(
      ".hero-text-6",
      {
        opacity: 0,
        top: "-100px",
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-7",
      {
        opacity: 1,
        top: "0",
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Trasnition to slide 8 --------------------------------------------------------------
    .to(".hero-text-7", {
      opacity: 0,
      duration: 6,
      delay: 20,
      top: "-400px",
    })
    .to(
      ".app-button",
      {
        opacity: 0,
        duration: 6,
        marginBottom: "400px",
      },
      "<"
    )
    .to(
      ".hero-video",
      {
        opacity: 0,
        duration: 6,
      },
      "<"
    )
    .to(".card-container", {
      height: "75dvh",
    })
    .to(
      ".credit-card, .credit-card-back",
      {
        rotationX: 1800,
        rotationY: 0,
        rotationZ: 0,
        left: "50%",
        top: cardTop,
        translateX: "-50%",
        translateY: "-50px",
        duration: 32,
      },
      "<"
    )
    .to(
      ".shadow4",
      {
        opacity: 0,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow1",
      {
        scaleX: 1,
        opacity: 1,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow-card",
      {
        rotate: 45,
        left: "50%",
        top: cardTop,
        translateX: "-50%",
        translateZ: "-50px",
        translateY: 0,
        duration: 32,
      },
      "<"
    )

    // Slide 8 --------------------------------------------------------------
    .to(".hero-text-8", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".join-button",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 9 --------------------------------------------------------------
    .to(".hero-text-8", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-9", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience1",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 10 --------------------------------------------------------------
    .to(".hero-text-9", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-10", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience2",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 11 --------------------------------------------------------------
    .to(".hero-text-10", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-11", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience3",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 12 --------------------------------------------------------------
    .to(".hero-text-11", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-12", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience4",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 13 --------------------------------------------------------------
    .to(".hero-text-12", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-13", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience5",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 14 --------------------------------------------------------------
    .to(".hero-text-13", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-14", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience6",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 15 --------------------------------------------------------------
    .to(".hero-text-14", {
      duration: 32,
      top: "350px",
      opacity: 0,
    })

    // Final Animation Up ---------------------------------------------------
    .to(
      ".card-container",
      {
        perspective: 800,
      },
      "<"
    )
    .to(
      ".credit-card, .credit-card-back",
      {
        rotationX: 2520,
        duration: 32,
        transformPerspective: 4000,
      },
      "<"
    )
    .to(
      ".join-button",
      {
        marginBottom: "300px",
        opacity: 0,
        duration: 32,
      },
      "<"
    )
    .to(
      ".text-wrapper, .card-wrapper",
      {
        marginTop: "-100vh",
        duration: 32,
      },
      "<"
    );

  ScrollTrigger.create({
    animation: tl,
    trigger: "main",
    start: "top top",
    end: "+=8000",
    scrub: true,
    pin: true,
  });

  document.querySelectorAll(".logo, .animated-link").forEach((btn) => {
    btn.addEventListener("click", () => {
      const targetTime = parseFloat((btn as HTMLElement).dataset.time ?? "0"); // segundos
      const tlDuration = tl.duration(); // duración total del timeline
      const st = tl.scrollTrigger;

      if (!st) return;

      const progress = targetTime / tlDuration;
      const scrollPosition = st.start + (st.end - st.start) * progress;

      gsap.to(window, {
        scrollTo: { y: scrollPosition },
        duration: 2,
        ease: "power2.out",
      });
    });
  });
</script>
