---
import esma from '../assets/esma.svg';
---

<section
  class="text-wrapper w-screen md:h-screen md:absolute top-0 left-0 pt-32 md:pt-0 z-10"
>
  <div class="max-w-[1160px] mx-auto w-full h-full px-4 flex">
    <div class="w-full md:w-1/2 h-72 md:h-1/2 my-auto flex flex-col justify-end md:relative">
      <div class="hero-text-1 absolute top-32 md:top-0 md:left-0 md:w-full">
        <h2
          class="text-[40px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          Más que un Club de Inversión: transforma tu vida financiera
        </h2>
        <p class="text-xl font-semibold text-primary text-balance">
          Operando bajo la licencia MiCA Europea
        </p>
        <p class="text-lg text-primary text-balance opacity-50">(European Market in Crypto-Assets)</p>
        <img
          src={esma.src}
          alt="ESMA"
          class="mt-2"
        />
      </div>

      <div class="hero-text-2 absolute top-32 md:top-0 md:left-0 md:w-full">
        <h2
          class="text-[40px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          Acceso exclusivo a rentabilidad, estrategia y red profesional
        </h2>
        <p class="text-xl font-semibold text-primary text-balance">
          Hemos diseñado una estructura privada para maximizar tu patrimonio
        </p>
      </div>

      <div class="hero-text-3 absolute top-32 md:top-0 md:left-0 md:w-full">
        <h2
          class="text-[40px] lg:text-[56px] font-light leading-none mb-3.5 text-balance"
        >
          Más que ventajas. Una experiencia exclusiva
        </h2>
        <p class="text-xl font-semibold text-primary text-balance">
          No dejamos nada al azar: nos guiamos por el análisis y resultados
          medibles
        </p>
      </div>

      <div class="cta-buttons flex gap-5 mt-16">
        <a
          href="/app"
          class="border font-semibold border-white rounded-full min-w-[150px] text-center px-6 py-3"
          role="button">Saber más</a
        >
        <a
          href="/about"
          class="border bg-white text-dark font-semibold border-white rounded-full min-w-[150px] text-center px-6 py-3"
          role="button">Únete al club</a
        >
      </div>
    </div>
  </div>

  <div class="tradingview-widget-container absolute bottom-4 left-0 w-full z-20">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
      "symbols": [
        {
          "proName": "FOREXCOM:SPXUSD",
          "title": "S&P 500 Index"
        },
        {
          "proName": "FOREXCOM:NSXUSD",
          "title": "US 100 Cash CFD"
        },
        {
          "proName": "FX_IDC:EURUSD",
          "title": "EUR to USD"
        },
        {
          "proName": "BITSTAMP:BTCUSD",
          "title": "Bitcoin"
        },
        {
          "proName": "BITSTAMP:ETHUSD",
          "title": "Ethereum"
        }
      ],
      "showSymbolLogo": true,
      "isTransparent": true,
      "displayMode": "regular",
      "colorTheme": "dark",
      "locale": "es"
    }
    </script>
  </div>
</section>
