---
import cardImg from "../assets/card-front.png";
import cardBackImg from "../assets/card-back.png";
import shadowImg from "../assets/shadow.png";
---

<div class="card-wrapper z-20 relative h-screen">
  <div
    class="card-container max-w-[1160px] mx-auto w-full px-16 relative h-[53dvh] md:h-full mt-auto overflow-hidden md:overflow-visible"
  >
    <img src={cardImg.src} alt="Card" class="credit-card z-10" />
    <img src={cardBackImg.src} alt="Card" class="credit-card-back z-10" />
    <img src={shadowImg.src} alt="Shadow" class="shadow-card" />
  </div>
</div>
