---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="font-semibold px-6 h-[40px] bg-primary rounded-full text-dark leading-0 inline-flex items-center justify-center group"
  role="button"
>
  <slot />
</a>
