---
interface Props {
  position?: "left" | "right" | "center";
}

const { position = "left" } = Astro.props as Props;
---

<div
  class="hero-item flex items-center h-full absolute top-0 left-0 right-0 bottom-0"
  class:list={[
    { "justify-end": position === "right" },
    { "justify-center": position === "center" },
  ]}
>
  <div
    class="w-full my-auto flex flex-col justify-start relative"
    class:list={[
      {
        "md:w-1/2 h-[75dvh] md:h-4/5 md:justify-center":
          position === "right" || position === "left",
        "h-[75dvh] md:h-full md:pt-32 md:justify-between items-center max-h-[920px]":
          position === "center",
      },
    ]}
  >
    <slot />
  </div>
</div>

<style>
  @media (min-width: 1160px) {
    .hero-item {
      margin-left: calc(((100vw - 1160px) / 2) - 8px);
      margin-right: calc((((100vw - 1160px) / 2) - 8px) + 16px);
    }
  }
</style>
