---
interface Props {
  href?: string;
  dataTime?: Number;
  className?: string;
}
const { href, dataTime, className } = Astro.props;
---

<a
  href={href}
  class="cursor-pointer text-4xl font-light mb-8 block"
  class:list={className ? [className] : []}
  data-time={dataTime}
>
  <slot />
</a>
