---
interface Props {
  href?: string;
  dataTime?: string;
  className?: string;
}
const { href, dataTime, className } = Astro.props;
---

<a
  href={href}
  class="md:hover:text-primary active:text-primary transition-colors duration-300 cursor-pointer"
  class:list={className ? [className] : []}
  data-time={dataTime}
>
  <slot />
</a>
