---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="Error 404: P치gina no encontrada">
  <div class="flex flex-col h-full bg-white min-h-screen">
    <div class="observe">
      <div class="bg-white py-32">
        <div class="mx-auto px-4">
          <h1 class="text-3xl font-bold mb-4 text-dark text-center">
            Error 404: P치gina no encontrada
          </h1>
          <p class="text-dark text-xl text-center">
            No hemos podido encontrar la p치gina que est치s buscando.
          </p>
        </div>
      </div>
    </div>
  </div>
  <Footer />
</Layout>
