---
import "../styles/global.css";
import "@fontsource-variable/exo-2";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Lines from "../components/atoms/Lines.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Fundfy</title>
  </head>
  <body class="bg-[#242827] text-white overflow-x-hidden">
    <Header />
    <slot />
    <Lines />
  </body>
</html>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { ScrollToPlugin } from "gsap/ScrollToPlugin";

  gsap.registerPlugin(ScrollTrigger, ScrollToPlugin);

  const isMobile = window.matchMedia("(max-width: 1024px)").matches;
  const cardTop = isMobile ? "80%" : "72%";

  const tl = gsap
    .timeline()
    // Slide 2 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 360,
      duration: 24,
      delay: 24,
    })
    .to(
      ".hero-text-1",
      {
        opacity: 0,
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-2",
      {
        opacity: 1,
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Slide 3 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 720,
      duration: 24,
      delay: 24,
    })

    .to(
      ".hero-text-2",
      {
        opacity: 0,
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-3",
      {
        opacity: 1,
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Transition to slide 4 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationY: 10,
      rotationX: -4,
      rotationZ: -14,
      left: "50px",
      duration: 32,
      delay: 24,
    })

    .to(
      ".shadow-card",
      {
        right: "auto",
        left: "-120px",
        rotate: -60,
        duration: 32,
      },
      "<"
    )
    .to(
      ".tradingview-widget-container",
      {
        opacity: 0,
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-video",
      {
        opacity: 0.2,
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-3",
      {
        opacity: 0,
        duration: 12,
        top: "-400px",
      },
      "<"
    )
    .to(
      ".cta-buttons",
      {
        opacity: 0,
        duration: 12,
        top: "-150px",
      },
      "<"
    )

    // Slide 4 --------------------------------------------------------------
    .to(".hero-text-4", {
      opacity: 1,
      duration: 6,
    })
    .to(
      ".app-button",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 5 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 360,
      duration: 24,
      delay: 24,
    })
    .to(
      ".shadow1",
      {
        opacity: 0,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow2",
      {
        scaleX: -1,
        opacity: 1,
        duration: 16,
      },
      "<"
    )
    .to(
      ".hero-text-4",
      {
        opacity: 0,
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-5",
      {
        opacity: 1,
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Slide 6 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 720,
      duration: 24,
      delay: 24,
    })
    .to(
      ".shadow2",
      {
        opacity: 0,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow3",
      {
        scaleX: -1,
        opacity: 1,
        duration: 16,
      },
      "<"
    )
    .to(
      ".hero-text-5",
      {
        opacity: 0,
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-6",
      {
        opacity: 1,
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Slide 7 --------------------------------------------------------------
    .to(".credit-card, .credit-card-back", {
      rotationX: 1080,
      duration: 24,
      delay: 24,
    })
    .to(
      ".shadow3",
      {
        opacity: 0,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow4",
      {
        scaleX: -1,
        opacity: 1,
        duration: 16,
      },
      "<"
    )
    .to(
      ".hero-text-6",
      {
        opacity: 0,
        duration: 6,
      },
      "<"
    )
    .to(
      ".hero-text-7",
      {
        opacity: 1,
        duration: 6,
        delay: 4,
      },
      "<"
    )

    // Trasnition to slide 8 --------------------------------------------------------------
    .to(".hero-text-7", {
      opacity: 0,
      duration: 6,
      delay: 20,
      top: "-400px",
    })
    .to(
      ".app-button",
      {
        opacity: 0,
        duration: 6,
        marginBottom: "400px",
      },
      "<"
    )
    .to(
      ".hero-video",
      {
        opacity: 0,
        duration: 6,
      },
      "<"
    )
    .to(".card-container", {
      height: "75dvh",
    })
    .to(
      ".credit-card, .credit-card-back",
      {
        rotationX: 1800,
        rotationY: 0,
        rotationZ: 0,
        left: "50%",
        top: cardTop,
        translateX: "-50%",
        translateY: "-50px",
        duration: 32,
      },
      "<"
    )
    .to(
      ".shadow4",
      {
        opacity: 0,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow1",
      {
        scaleX: 1,
        opacity: 1,
        duration: 16,
      },
      "<"
    )
    .to(
      ".shadow-card",
      {
        rotate: 45,
        left: "50%",
        top: cardTop,
        translateX: "-50%",
        translateZ: "-50px",
        translateY: 0,
        duration: 32,
      },
      "<"
    )

    // Slide 8 --------------------------------------------------------------
    .to(".hero-text-8", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".join-button",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 9 --------------------------------------------------------------
    .to(".hero-text-8", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-9", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience1",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 10 --------------------------------------------------------------
    .to(".hero-text-9", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-10", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience2",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 11 --------------------------------------------------------------
    .to(".hero-text-10", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-11", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience3",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 12 --------------------------------------------------------------
    .to(".hero-text-11", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-12", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience4",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 13 --------------------------------------------------------------
    .to(".hero-text-12", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-13", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience5",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 14 --------------------------------------------------------------
    .to(".hero-text-13", {
      opacity: 0,
      duration: 14,
      delay: 20,
    })
    .to(".hero-text-14", {
      opacity: 1,
      duration: 14,
    })
    .to(
      ".experience6",
      {
        opacity: 1,
        duration: 6,
      },
      "<"
    )

    // Slide 15 --------------------------------------------------------------
    .to(".hero-text-14", {
      duration: 32,
      top: "350px",
      opacity: 0,
    })

    // Final Animation Up ---------------------------------------------------
    .to(
      ".card-container",
      {
        perspective: 800,
      },
      "<"
    )
    .to(
      ".credit-card, .credit-card-back",
      {
        rotationX: 2520,
        duration: 32,
        transformPerspective: 4000,
      },
      "<"
    )
    .to(
      ".join-button",
      {
        marginBottom: "100px",
        duration: 32,
      },
      "<"
    )
    .to(
      ".text-wrapper, .card-wrapper",
      {
        marginTop: "-100dvh",
        duration: 32,
      },
      "<"
    );

  ScrollTrigger.create({
    animation: tl,
    trigger: "main",
    start: "top top",
    end: "+=8000",
    scrub: true,
    pin: true,
  });

  const params = new URLSearchParams(window.location.search);
  const scrollToParam = params.get("scrollTo");

  if (scrollToParam) {
    const time = parseFloat(scrollToParam);
    setTimeout(() => scrollToTime(time), 100);
    const newUrl = window.location.pathname;
    window.history.replaceState({}, "", newUrl);
  }

  document.querySelectorAll(".logo, .animated-link").forEach((btn) => {
    btn.addEventListener("click", (e) => {
      const targetTime = parseFloat((btn as HTMLElement).dataset.time ?? "0");

      console.log("Target Time:", targetTime);

      const path = window.location.pathname;
      const isHome = path === "/" || path === "/es";
      const isSpanish = path.startsWith("/es");

      if (!isHome) {
        e.preventDefault();

        const homePath = isSpanish ? "/es" : "/";
        const url = `${homePath}?scrollTo=${targetTime}`;
        window.location.href = url;
        return;
      }

      scrollToTime(targetTime);
    });
  });

  function scrollToTime(targetTime: number) {
    const tlDuration = tl.duration();
    const st = tl.scrollTrigger;
    if (!st) return;

    const progress = targetTime / tlDuration;
    const scrollPosition = st.start + (st.end - st.start) * progress;

    gsap.to(window, {
      scrollTo: { y: scrollPosition },
      duration: 2,
      ease: "power2.out",
    });
  }
</script>
